---
import { Icon } from "astro-icon/components";

const { currentLocale } = Astro;
const isSpanish = currentLocale === "es";
const buttonText = isSpanish ? "Chatea conmigo" : "Chat with Me";
const ariaLabel = isSpanish ? "Chatea conmigo" : "Chat with Me";
---

<button
  id="toggle-chat-button"
  type="button"
  class="mb-4 flex w-fit cursor-pointer items-center gap-1 rounded-full bg-skin-button-accent px-4 py-2 transition-all hover:scale-110 hover:opacity-60 focus:scale-110 focus:opacity-60 print:hidden"
  style="display: none;"
  aria-label={ariaLabel}
>
  <Icon name="ri:chat-1-line" width={20} height={20} />
  {buttonText}
</button>

<script>
  import { isOpen } from "@/store/chat.store";

  const chatButton = document.querySelector(
    "#toggle-chat-button",
  ) as HTMLButtonElement;

  chatButton.addEventListener("click", () => {
    const isOpenValue = isOpen.get();
    isOpen.set(!isOpenValue);
  });
</script>

<script is:inline>
  // Show the button only if the user has a GPU
  if (navigator.gpu) {
    navigator.gpu.requestAdapter().then((adapter) => {
      if (adapter) {
        document.querySelector("#toggle-chat-button").style.display = "flex";
      }
    });
  }
</script>
