---
import Section from "@/components/Section.astro";
import { getI18NCV } from "@/i18n";

const { currentLocale } = Astro;
const { basics, section_titles } = getI18NCV({ currentLocale });
const { summary } = basics;
---

<Section title={section_titles.about} className="md:gap-1">
  <p class="overflow-clip font-mono opacity-75 print:font-sans">
    {summary}
  </p>
</Section>
