---
import Section from "@/components/Section.astro";
import CV from "@cv";
const { summary } = CV.basics;
---

<Section title="About" classname="md:gap-1">
  <p class="font-mono opacity-75 print:font-sans">
    {summary}
  </p>
</Section>
