---
import Section from "@/components/ui/Section.astro";
import { getI18NCV } from "@/i18n";

const { currentLocale } = Astro;
const { basics, section_titles } = getI18NCV({ currentLocale });
const { summary } = basics;
---

<Section title={section_titles.about} className="md:gap-1 print:col-span-2">
  <p class="text-pretty font-mono print:font-sans">
    {summary}
  </p>
</Section>
