---
import KeyboardManager from "@/components/KeyboardManager.astro";
import LanguagePicker from "@/components/LanguagePicker.astro";
import ThemeSwitch from "@/components/ThemeSwitch.astro";
---

<header
  class="fixed left-0 top-0 z-50 flex w-screen items-center justify-between p-4 backdrop-blur-sm md:p-6 md:px-16 xl:px-40 print:hidden"
>
  <span>NickEsColR</span>

  <div class="flex items-center gap-4 xl:gap-8">
    <KeyboardManager />
    <ThemeSwitch />
    <LanguagePicker />
  </div>
</header>
