---
import { languages } from "@/i18n/ui";
import { translatePath } from "@/i18n/utils";

const { url, currentLocale } = Astro;
const currentpage = url.pathname.split("/").slice(2).join("/");
---

<ul>
  {
    Object.entries(languages).map(([lang, label]) => (
      <li>
        <a
          href={translatePath(currentpage, lang)}
          class:list={[
            "hover:opacity-75",
            lang === currentLocale ? "text-blue-500" : "",
          ]}
        >
          {label}
        </a>
      </li>
    ))
  }
</ul>
