@tailwind base;

@layer base {
  :root {
      --color-text-base: 15, 23, 42;
      --color-text-muted: 40, 56, 78;
      --color-text-inverted: 240, 240, 240;
      --color-fill: 202, 213, 225;
      --muted: 148, 163, 184;
      --color: 50, 7, 196;
      --color-button-accent: 200, 200, 246;
      --color-button-accent-hover: 0, 185, 255;
      --color-button-muted: 226, 232, 240;
  }

  .dark {
      --color-text-base: 248, 250, 252;
      --color-text-muted: 148, 163, 184;
      --color-text-inverted: 240, 240, 240;
      --color-fill: 10, 10, 3;
      --muted: 51, 65, 85;
      --color: 184, 207, 246;
      --color-button-accent: 30, 60, 80;
      --color-button-accent-hover: 0, 185, 255;
      --color-button-muted: 30, 41, 59;
  }
}
